@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.slider-image {
  margin: 20px;
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
}
